@import './layout.scss';
@include remark-document-basic;
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header, stage, footer, section, article ,aside, controls {
  position:relative;
  @include clearfix;
  > controls {
    float:right;
  }
}

stage, controls {
  display:block;
}

p {
  margin:0;
}

.no-break {
  @include word-break-variant(false);
}

.no-pointer-events {
  pointer-events:none;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  cursor:pointer;
  color: #42b983;
}

table {
  max-width:100%;
}

table > * > tr {
  > th {
    text-align:left;
  }
  > th, td {
    border:1px solid #eee;
    padding:10px;
  }
}